div#header
    a(href="/") Home
    br
    a(href="/users") Users
    br
    a(href="/register") Register 
    br
    a(href="/addProduct") Upload New Product 
    br
    a(href="/products") Products 
    br
    a(href="/shops") Shops 
    br
    a(href="/addShop") Add Online Shop
    br
    a(href="https://drive.google.com/drive/folders/1G1-hmy8_OxVlH198xktHL4U4uEZdGt3L?usp=drive_link" target="_blank") Product Images Drive Folder
