html
  head
    title User Registration
  body

    script(src="/js/addUser.js" defer)
    include ./header
    div 
        h1 User Registration

        label User Name: 
        input(type="text" id="name" name="name")
        
        br
        br
        button(id="save") Save