html
  head
    title Shops
  body
    script(src="/js/shops.js" defer)
    include ./header

    div
      h1 Shops

      label Search By: 
      select#filter
            option() Select an option
            option(value="All") All Shops
            option(value="Name") Shop Name
      br
      br
      div#searchDiv

      h3
        div#shops 
              

          
            